body {
    padding-top: 5rem;
}

h1 {
    border-bottom: 1px solid black;
}

button {
    background-color: rgb(96, 192, 221);
    color: rgb(17, 10, 3);
    width: 10%;
    border-radius: 5px;

}

button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(62, 160, 240, 0.836);
    
}